/* Colores */
$color-primary: #705335;        
$color-primary-hover: #503A25;  

$color-bg: #F7F5F0;          
$color-card: #FCFBF7;         
$color-text: #332C27;         

/* Dark mode */
$color-bg-dark: #1A1613;      
$color-card-dark: #25201D;    
$color-text-dark: #EADCC9;    

/* Bordes */
$border-radius: 0.625rem;     

/* Sombras */
$shadow-card: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15); 