 @use './variables';
 @use './home';
 @use './search';
 @use './navbar';
 @use './favoritos';


body {
  font-family: Arial, sans-serif;
  background-color: variables.$color-bg;
  color: variables.$color-text;
  margin: 0;
  padding: 0;
}

.dark-mode {
  background-color: variables.$color-bg-dark;
  color: variables.$color-text-dark;
}

.dark-mode .book-card,
.dark-mode .search-section,
.dark-mode .filter-panel,
.dark-mode .detail-container {
  background-color: variables.$color-card-dark;
  color: variables.$color-text-dark;
}

.dark-mode input,
.dark-mode select {
  background-color: #2b2b2b;
  color: white;
  border-color: #444;
}

.dark-mode p,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode span,
.dark-mode li,
.dark-mode a {
  color: variables.$color-text-dark;
}