 @use './variables';
 @use './home';
 @use './search';
 @use './navbar';

body {
  font-family: Arial, sans-serif;
  background-color: variables.$color-bg;
  color: variables.$color-text;
  margin: 0;
  padding: 0;
}

